body 
{
    background: url('../images/background.gif');
    background-size: cover;
    background-attachment: fixed;
}
p 
{
    width: 50%;
    height: auto;
    margin: auto;
    background-color: white;
    padding: 20px;
    margin-top: 2%;
}